.flex {
  display: flex;
  background-color: grey;
}

body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#characters {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

